{% extends 'base/main.html' %}
{% block content %}

<!-- Include flatpickr CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<div class="header-bar">
    <a href="{% url 'tasks' %}">&#8592; Back</a>
</div>

<div class="card-body">
    <form method="POST" action="">
        {% csrf_token %}

        <div class="form-group">
            {{ form.title.label_tag }}
            {{ form.title }}
            {{ form.title.errors }}
        </div>

        <div class="form-group">
            {{ form.description.label_tag }}
            {{ form.description }}
            {{ form.description.errors }}
        </div>

        <div class="form-group">
            {{ form.complete.label_tag }}
            {{ form.complete }}
            {{ form.complete.errors }}
        </div>

        <div class="form-group">
            {{ form.priority.label_tag }}
            {{ form.priority }}
            {{ form.priority.errors }}
        </div>

        <div class="form-group">
            {{ form.due_date.label_tag }}
            <input type="text" id="id_due_date" name="due_date" class="form-control flatpickr" placeholder="Select due date">
            {% if form.due_date.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.due_date.errors.0 }}
                </div>
            {% endif %}
        </div>

        <!-- Add the category field to the form -->
        <div class="form-group">
            {{ form.category.label_tag }}
            {{ form.category }}
            {{ form.category.errors }}
        </div>

        <input class="button" type="submit" value="Submit">
    </form>
</div>

<!-- Include flatpickr JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    flatpickr("#id_due_date", {
        enableTime: false,
        dateFormat: "Y-m-d",  // Adjust the date format as needed
    });
</script>

{% endblock content %}